# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo


uploads/

# =========================
# Virtual Environment
# =========================
.venv/

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Distribution
# =========================
dist/
build/
*.egg-info/